<!DOCTYPE html>
<html lang="en">
{% extends "Main_page.html" %}
{% block Title %}Welcome!{% endblock %}
{% block accountbtn %}
                <a type="button" class="btn btn-outline-light me-2" href="auth">Вход</a>
                <a type="button" class="btn btn-secondary" href="register">Регистрация</a>
{% endblock %}
{% block content %}
    {% load static %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Система управления проектами - это просто!</h1>
                <p class="lead text-body-secondary">Добро пожаловать в нашу систему исполнения задач! Мы рады приветствовать вас и готовы предоставить вам удобный и эффективный инструмент для управления задачами и контроля их выполнения. Наша система обладает множеством преимуществ, таких как гибкость, масштабируемость, безопасность и конфиденциальность данных. Мы надеемся, что вы получите максимальную пользу от использования нашей системы и достигнете больших успехов в своих делах!</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'course_work_app/img/managerminimalizm.png' %}" class="img-thumbnail"
                             alt="...">
                        <div class="card-body">
                            <p class="lead text-body-secondary">Наша система исполнения задач позволяет пользователям создавать задачи, указывать дисциплины, которые будут участвовать в их выполнении, а также отслеживать процесс выполнения. Благодаря этому, вы всегда будете в курсе того, какие задачи находятся в работе и сколько времени осталось до их завершения.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'course_work_app/img/clockminimalizm.jpg' %}" class="img-thumbnail"
                             alt="...">
                        <div class="card-body">
                            <p class="lead text-body-secondary">Наша система обладает гибкостью и масштабируемостью, что позволяет ей легко интегрироваться с другими системами и повысить эффективность работы. Благодаря централизованному обновлению на сервере, система будет постоянно обновляться и улучшаться, что позволит пользователям получать более качественный сервис.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'course_work_app/img/pcminimalzm.jpg' %}" class="img-thumbnail"
                             alt="...">
                        <div class="card-body">
                            <p class="lead text-body-secondary">Мы понимаем, что безопасность и конфиденциальность данных являются одними из самых важных аспектов для наших пользователей. Поэтому мы обеспечиваем полную защиту данных, используя самые современные технологии шифрования и защиты. Вы можете быть уверены, что ваши данные будут находиться в безопасности и не будут переданы третьим лицам.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>