<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}{% endblock %}</title>
    {% load static %}
    {% block css_load %}
        <link rel="stylesheet" href="{% static 'course_work_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'course_work_app/css/bootstrap-icons.css' %}">
    {% endblock %}

</head>
<body onload="{% block onload %}{% endblock %}">
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'course_work_app/img/задача-50.png' %}" class="img-fluid-start">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% block menubtn %}
                <li><a href="{% url 'work-page' %}" class="nav-link px-2 text-secondary">Домой</a></li>
                <li><a href="" class="nav-link px-2 text-white">Подробнее</a></li>
                {% endblock %}
            </ul>
            <div class="text-end">
                {% block accountbtn %}
                {% endblock %}
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    {% block content %}

    {% endblock %}
</div>
</body>
{% block modalblock %}
{% endblock %}
{% block load_js %}

{% endblock %}
<script src="{% static 'course_work_app/js/popper.min.js' %}"></script>
<script src="{% static 'course_work_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'course_work_app/js/bootstrap.bundle.min.js' %}"></script>
</html>